/WA_BBDD_Ejercicio_01_Delete_Insert/nbproject/private/
/WA_BBDD_Ejercicio_01_Delete_Insert/build/
/WA_CRUD_LigaFutbol/nbproject/private/
/WA_CRUD_LigaFutbol/build/
/WA_CRUD_Foro/nbproject/private/
/WA_CRUD_Foro/build/
/20241211_Examen_HLC/nbproject/private/
/20241211_Examen_HLC/build/
